html {
  height: 100%;
  overflow-x: hidden;
}

html, body {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-family: "TildaSans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}

body, body * {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  cursor: grab !important;
  width: 28px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: grab !important;
  background-color: rgb(246, 246, 248);
  border-radius: 19px;
  border: 8px solid rgba(246, 246, 248, 0);
  background-clip: padding-box;
}