$transition: .15s ease-out;

.container {
  --zc-gutter-x: 15px;

  max-width: calc(1600px + (var(--zc-gutter-x) * 2));
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--zc-gutter-x);
}

.zc_button {
  max-width: 800px;
  margin: 65px auto;

  > input {
    @extend %primary-violet-btn;

    display: flex;
    height: 80px;
    width: 100%;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
  }
}

.zc_cards {
  display: flex;
  flex-direction: column;
  row-gap: 35px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 53px;
    height: 112px;
    width: 100%;
    border-radius: 11px;
    background-color: $gray_color;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);

    &__left,
    &__center,
    &__right {
      display: inline-flex;
      align-items: center;
    }

    &__left {
      column-gap: 85px;

      > span {
        color: $dark_color;
        font-size: 19px;
      }

      > span:first-child {
        font-weight: 700;
      }

      > span:last-child {
        font-weight: 500;
      }
    }

    &__center {
      column-gap: 80px;

      > span {
      }

      > span:first-child,
      > span:last-child {
        color: #A6A8B2;
        font-size: 19px;
        font-weight: 400;
      }
    }

    &__right {
      column-gap: 95px;

      > button {
        display: inline-flex;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transition: opacity $transition;

        &:hover {
          opacity: .7;
        }
      }

      > button:first-child > img {
        width: 32px;
        height: 32px;
      }

      > button:last-child > img {
        width: 40px;
        height: 40px;
      }
    }
  }
}