@font-face {
  font-family: 'TildaSans', Arial, sans-serif;
  src: url("../fonts/TildaSans-VF.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: 'TildaSans', Arial, sans-serif;
}

.zc_header {
  display: flex;
  align-items: center;
  max-height: 96px;
  padding-top: 0;
  height: 96px;
  padding-bottom: 0;
}

.zc_header__logo {
  height: 61px;
}

.zc_header__shell {
  width: 100%;
}

.zc_header-input {
  width: 20%;
}

.zc_header__shell a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zc_header-input input {
  padding: 10px 31.2px;
  background-color: #F0F3FA;
  outline: none;
  border: none;
  border-radius:  57.6px;
  height:  48px;
  width: 100%;
}

.zc_header__user {
  column-gap: 22.4px;
}

.zc_header__user__img {
  width: 40px;
  height: 40px;
}

.zc_header__user__info {
  row-gap:   12.8px ;
}

.zc_header-input input::placeholder {
  font-size: 19px;
}

.zc_header__user__info > span:first-child,
.zc_header__user__info > span:last-child {
  font-size:  19.2px;
  text-align: right;
}

.zc_header__login {
  display: flex;
  flex-direction: column;
  row-gap: 11.2px;
}

.zc_header__login > span {
  font-size: 19.2px;
}

.zc_header__login > span:last-child {
  font-size: 16px;
  color: #000;
}

.zc_header-info {
  display: flex;
  justify-content: space-around;
  width: 32%;
  color: #2b2b3b;
  font-size: 19.2px;
}

.zc_header-info.on-table,
.zc_header-input.on-mobile {
  display: none;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6.4px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 16px ;
}

.checkbox input {
  position: absolute;
  width: 0;
  left:  128px ;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  height:  32px;
  width:  32px;
  border:  3.2px solid rgba(103, 113, 255, 0.633);
}

.checkbox:hover .checkmark {
  transition: all 0.2s ease;
}

.checkbox input:checked ~ .checkmark {
  border:  3.2px solid rgb(103, 114, 255);
}

.checkbox input[type="radio"] ~ .checkmark {
  border-radius: 50%;
}

.checkbox .checkmark::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top: 40%;
  width: 6.4px;
  height:  12.8px;
  border: solid rgb(103, 114, 255);
  border-width: 0  3.2px  3.2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: all 0.2s ease;
}

.checkbox input:checked ~ .checkmark::after {
  opacity: 1;
  transition: all 0.2s ease;
}

@media screen and (max-width: 1025px) {
  .zc_header-input input {
    height:  51.2px;
  }

  .zc_header-input {
    width: 25%;
  }

  .zc_header-info {
    width: 26%;
  }

  .zc_header__login > span {
    font-size: 20.4px;
  }

  .zc_header__login > span:last-child {
    font-size: 20.4px;
    color: #000;
  }

  .zc_header__user__info {
    row-gap: 4.8px;
  }

  .zc_header-input input::placeholder {
    font-size: 20.4px;
  }

  .zc_header__user__info > span:first-child,
  .zc_header__user__info > span:last-child {
    font-size: 13px;
    text-align: right;
  }

  .zc_header__logout > a {
    font-size: 20.8px;
  }

  .zc_header__logo {
    height:  60.8px;
  }

  .zc_header {
    padding: 0  30.4px;
  }
}

@media screen and (max-width: 769px) {
  .none-table {
    display: none;
  }

  .zc_header-input input {
    height:  56px ;
  }

  .zc_header-input {
    width: 29%;
  }

  .zc_header__user__info > span:first-child,
  .zc_header__user__info > span:last-child {
    font-size: 20.8px;
    text-align: right;
  }

  .zc_header__logout > a {
    font-size:  17.6px;
  }

  .zc_header__user__img {
    width:  41.6px ;
    height:  41.6px ;
  }

  .zc_header__login {
    row-gap: 6.4px;
  }

  .zc_header-info.on-table {
    width: 100%;
    justify-content: space-around;
    display: flex;
  }

}

@media screen and (max-width: 480px) {
  .zc_header__logout > a {
    display: unset;
  }

  .none-mobile {
    display: none;
  }

  .zc_header {
    padding: 0   12.8px ;
  }

  .zc_header-input.on-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25.6px;
  }

  .zc_header-input.on-mobile input {
    width: 70%;
  }

  .zc_header__login > span,
  .zc_header__login > span:last-child {
    font-size: 20.8px;
  }

  .zc_header {
    display: flex;
    align-items: center;
    max-height: 104px ;
    padding-top: 0;
    height: 104px ;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 380px) {
  .none-mobile {
    display: none;
  }

  .zc_header {
    padding: 0   12.8px ;
  }

  .zc_header__logo {
    width:  60.8px;
  }

  .zc_header__login > span,
  .zc_header__login > span:last-child {
    font-size:  14.4px;
  }

  .zc_header__user__img {
    width: 25.6px;
    height: 25.6px;
  }

  .zc_header__user {
    column-gap: 6.4px;
  }

  .zc_header__user__info > span:first-child, .zc_header__user__info > span:last-child {
    font-size:  14.4px;
  }

  .zc_header {
    display: flex;
    align-items: center;
    max-height:  96px ;
    padding-top: 0;
    height:  96px ;
    padding-bottom: 0;
    padding: 0 16px ;
  }

}

::-webkit-scrollbar {
  cursor: grab !important;
  width:  35.2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: grab !important;
  background-color: rgb(246 246 248 / 100%);
  border-radius: 24px;
  border:  9.6px solid rgba(246, 246, 248, 0);
  background-clip: padding-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 49.6px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:  51.2px;
  width: 100%;
  max-width:   1134px;
}

.form-container {
  max-width:  400px;
  width: 100%;
}

.checkbox p {
  margin: 0 0 0  12.8px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(43, 43, 59);
}

.checkbox {
  margin-top:  41.6px ;
}

[type="file"] {
  width: 100%;
  color: #878787;
}

[type="file"]::-webkit-file-upload-button {
  background: #6772FF;
  border:  3.2px solid #6772FF;
  border-radius: 20.8px;
  color: #fff;
  cursor: pointer;
  font-size: 20.4px;
  outline: none;
  width: 208px;
  height: 64px;
  margin-right: 23px;
  font-weight: 500;
  transition: all 0.3s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #8b93ff;
  border:  3.2px solid #8b93ff;
}

.checkbox:last-child {
  margin-bottom:  44.8px;
}

.zc_header__btn_copy {
  width: 100%;
  margin-top:  31.2px;
  font-size: 24px;
  height:  80px;
  text-align: center;
}

.tracks {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top:  96px ;
}

.tracks-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 102px;
}

.tracks-header div {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
}

.tracks-header div p {
  color: #2b2b3b;
  font-size:  26px;
  font-family: 'TildaSans', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;

}

.tracks-item {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height:  102px ;
  background-color: #F0F3FA;
  box-shadow: 0px 16px   51.2px -16px rgba(0, 0, 0, 0.1);
  border-radius: 11.2px;
  margin-bottom:  44.8px;
}

.tracks-item div {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
}

.tracks-item div p {
  color: #2b2b3b;
  font-size: 22px;
  font-family: 'TildaSans', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}

.tracks-header div:first-child,
.tracks-item div:first-child {
  padding-left:  48px;
}

.tracks-item a {
  position: absolute;
  width:  51px;
  height:  51px;
  right:  56px ;
  top:  51.2px;
}

.tracks-item a img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .tracks-item {
    height:  96px ;
  }

  .tracks-header div p {
    font-size: 25.6px;
  }

  .tracks-item div p {
    font-size: 20.4px;
  }

  .container {
    padding: 0 22.4px;
  }

  .tracks-header div:first-child,
  .tracks-item div:first-child {
    padding-left: 16px ;
  }

  .tracks-item a {
    width: 24px;
    height: 24px;
    right:  51.2px;
    top: 17px;
  }
}